// Define desired color palettes.
$primary: "teal";
$accent: "light-green";
$warn: "pink";

// If desired, import the palettes and modify to your liking.
@import "color-palette";
$color-teal: map-merge($color-teal, ('contrast':  $light-contrast-color));
$color-light-green: map-merge($color-light-green, ('contrast':  $light-contrast-color));

//@import "bourbon";
@import "ember-paper";
@import "helpers";
@import "pod-styles";
@import "components/pikaday";
@import "components/dygraph";
@import "components/nvd3";
@import "components/scrollbar";

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

* {
	font-family: 'Inconsolata', monospace;
}

html, body, .viewport {
  width: 100%;
	height: 100%;
	margin: 0;
}

body > .ember-view {
  height: 100%;
	@include display-flex();
	@include vbox;
}
	

section {
  &#header,
	&#footer,
	&#charts,
	&#editor {
    }
}



section#main-loader {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;

	body.currentlyLoading & {
		@include display-flex();
	}
}

md-dialog md-dialog-content {
	display: block;
}
	
/*
section#charts {
    @include flex(1);
	overflow: hidden;
	overflow-y: auto;
}
	

section#editor {
    width: 350px;
	overflow: hidden;
	background: #e9e9e9;
}

section#header {
	& > md-toolbar {
		background: rgb(255, 187, 0);
	}
}

section#budget-select {

	& > div {
		display: inline-block;
		position: relative;

		&.date {
			& > div > input {
				background: rgba(0,0,0,0.04);
				border-radius: 4px;
				border: 1px solid transparent;
			}
		}
	}
}






.color-picker-item {
	width: 100%;
	height: 100%;
}




h1 {
    //@include linear-gradient(to top, red, orange);
}

*/






.ui-draggable-handle{-ms-touch-action:none;touch-action:none}



.form-item-top {
  position: absolute;
  top: 0;
}

md-select-menu md-option {
	&[aria-current='true'] {
		background: yellow;
	}

	.md-text .custom {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		justify-content: center;
		flex-direction: column;
		/* text-align: center; */
		display: flex;
		//color: black;
		padding: 0 16px;
		user-select: none;
		/* width: auto; */
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&.add-new {
			border-top: 1px solid rgba(0,0,0,.05);
			background: rgba(0,0,0,.02);
		}
	}
}


md-input-container .md-errors-spacer {
	display: none;
}



md-option[aria-current] {
	background: pink;
}

.item-form-dialog {
	width: 100% !important;
	//box-shadow: none !important;
	overflow: visible;
	//box-shadow: 10px 10px 158px -52px rgba(0,0,0,0.75);
	box-shadow: none;
	border-radius: 0 !important;
	border-bottom: 1px solid silver;
	border-top: 1px solid #efefef;
	//opacity: 1;
	/*

	&:before {
		display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
		//box-shadow: 10px 10px 158px -52px rgba(0,0,0,0.75);
		transition: all .2s;
		//opacity: 0;
	}

	&.md-transition-in {
		&:before {
			opacity: 1;
		}
	}
	*/
}

md-dialog.md-transition-in.item-form-dialog {
	transition: opacity .2s, transform .5s cubic-bezier(1, 0, .41, 1);
	transition-duration: 0.3s, 0.4s;
	transition-delay: 0s, 0.1s;
}


.item-dialog-form-container {
  min-height: 2rem;
  overflow: hidden;
  max-height: 2rem;
	//transform: scaleY(0);
	opacity: 0;
  transition: all .2s cubic-bezier(.79,.01,.83,.99);
	transition-delay: .1s;

  &.show {
		opacity: 1;
    max-height: 500px;
		transform: scaleY(1);
  }
}

md-backdrop.md-opaque {
	background-color: #f1f1f1 !important;
	opacity: .7;
}



.my-form {
	.md-dialog-content {
		padding: 0;
	}

	md-input-container {
		margin: 0;
    padding: 0;
    border-bottom: 1px solid #f1f1f1;
		background: white;
		transition: all .2s;
		display: block;
		cursor: pointer;

		&.md-input-focused {
			label {
				color: #0069ef !important;
			}
		}

		&.md-input-invalid {
			background: rgba(202, 0, 0, .02);
			border-bottom-color: rgba(202, 0, 0, .1);

			label {
				color: red !important;

				&:after {
					display: inline-block;
				}
			}
		}

		&.md-input-focused {
			background: rgba(255, 247, 0, 0.08);
		}

		label {
			transform: none !important;
			position: absolute;
			line-height: 3rem;
			font-size: .8rem;
			padding: 0 40px !important;
			top: 0;
			left: 0;
			text-transform: uppercase;
			color: #999 !important;
			line-height: 3rem;
			cursor: pointer;

			&:after {
				display: none;
			}
		}

		.md-input {
			border: none !important;
			height: 3rem;
			padding: 0 40px 0 180px;
		}

		.paper-input-error {
			display: none !important;
		}

		md-select {
			padding: 0 40px 0 180px;
			
			md-select-value {
				border: none !important;
				height: 3rem;
    		line-height: 3rem;
				padding: 0;

				*:first-child {
					transform: none;
				}
			}

			.md-select-icon {
				display: none;
			}
		}

		
	}

	.cat-select, .date-input {
		position: relative;
		
		& > md-icon {
			position: absolute;
			top: 0;
			right: 2rem;
			left: auto;
			font-size: 1.2rem;
	    line-height: 3rem;
			color: #999;
			cursor: pointer;
		}
	}

	.date-input {
		.md-input {
			padding: 0;
			margin: 0 40px 0 180px;
			width: initial;		
		}
	}
}