& {
	background: white;
		border: 1px solid rgba(63, 81, 181, .5);
		border-bottom: 1px solid rgba(63, 81, 181, .8);
		position: absolute;
		margin-left: -5px;
		max-width: 150px;
		font-size: 12px;
		padding: 0 5px;

		span {
			display: block;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&:before, &:after {
			content: '';
			position: absolute;
			width: 0; 
			height: 0; 
			left: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
		}

		&:before {
			top: -5px;
			border-bottom: 5px solid rgba(63, 81, 181, .5);
		}
		&:after {
			top: -4px;
			border-bottom: 5px solid white;
		}

		&:hover {
			z-index: 1000;

			background: rgba(63, 81, 181, .8);
			color: white;
			border-color: rgb(63, 81, 181);

			&:before {
				border-bottom-color: rgba(63, 81, 181, .8);
			}
			&:after {
				border-bottom-color: rgb(63, 81, 181);
			}
		}

		&.is-instance {
			border: 1px solid rgba(63, 81, 181, .3);
			border-bottom: 1px solid rgba(63, 81, 181, .5);

			&:hover {
				background: yellow;
			}
		}

		&.disabled {
			display: none;
		}
}